[submodule ".submodules/Geex.Casbin"]
	path = .submodules/Geex.Casbin
	url = https://github.com/geex-graphql/Geex.Casbin.git
	branch = master
[submodule ".submodules/MongoDB.Entities"]
	path = .submodules/MongoDB.Entities
	url = https://github.com/geexboxs/MongoDB.Entities.git
	branch = master
[submodule ".submodules/geexbox.logging.elasticsearch"]
	path = .submodules/geexbox.logging.elasticsearch
	url = https://github.com/geexboxs/geexbox.logging.elasticsearch.git
	branch = master
[submodule ".submodules/Geex.IdentityServer"]
	path = .submodules/Geex.IdentityServer
    url = https://github.com/geex-graphql/Geex.IdentityServer.git
	branch = master
[submodule ".submodules/Geex.Common"]
	path = .submodules/Geex.Common
	url = https://github.com/geex-graphql/Geex.Common.git
	branch = master
[submodule ".submodules/Geex.Common.Abstraction"]
	path = .submodules/Geex.Common.Abstraction
    url = https://github.com/geex-graphql/Geex.Common.Abstraction.git
	branch = master
[submodule ".submodules/Geex.Common.Logging"]
	path = .submodules/Geex.Common.Logging
	url = https://github.com/geex-graphql/Geex.Common.Logging.git
	branch = master
[submodule ".submodules/Geex.Common.Messaging"]
	path = .submodules/Geex.Common.Messaging
    url = https://github.com/geex-graphql/Geex.Common.Messaging.git
	branch = master
[submodule ".submodules/Geex.Common.Redis"]
	path = .submodules/Geex.Common.Redis
    url = https://github.com/geex-graphql/Geex.Common.Redis.git
	branch = master
[submodule ".submodules/Geex.Common.Settings"]
	path = .submodules/Geex.Common.Settings
    url = https://github.com/geex-graphql/Geex.Common.Settings.git
	branch = master
[submodule ".submodules/Geex.TemplateGenerator"]
	path = .submodules/Geex.TemplateGenerator
    url = https://github.com/geex-graphql/Geex.TemplateGenerator.git
	branch = master
