[submodule ".submodules/casbin-aspnetcore"]
	path = .submodules/casbin-aspnetcore
	url = https://github.com/geexboxs/casbin-aspnetcore.git
[submodule ".submodules/MongoDB.Entities"]
	path = .submodules/MongoDB.Entities
	url = https://github.com/geexboxs/MongoDB.Entities.git
	branch = master
[submodule ".submodules/geexbox.logging.elasticsearch"]
	path = .submodules/geexbox.logging.elasticsearch
	url = https://github.com/geexboxs/geexbox.logging.elasticsearch.git
	branch = master
[submodule ".submodules/Geex.IdentityServer"]
	path = .submodules/Geex.IdentityServer
    url = https://github.com/snys98/Geex.IdentityServer.git
	branch = master
